<div id="notifications" style="display: inline-block;">
  <% events = current_user.related_events %>
  <% if events.any? %>
      <div class="dropdown">
        <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Notifications<b class="caret"></b></a>
        <ul id="menu1" class="dropdown-menu" style=" font-size: small;">
          <% events.each do |event| %>
              <%= render :partial => event.notification_template, :locals => {:event => event} %>
          <% end %>
        </ul>
      </div>
  <% else %>
      No notifications
  <% end %>
</div>