<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<h3><%= @user.username %>'s things</h3>
<%= render :partial => 'things/partials/things', :locals => {
        :things => @user.things
} %>