<% if things.any? %>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Given</th>
    <th>Description</th>
    <th>By</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% things.each do |thing| %>
      <tr>
        <td><%= link_to thing.name, thing %></td>
        <td><%= thing.is_given? %></td>
        <td><%= thing.description %></td>
        <td><%= link_to thing.user.username, thing.user %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% else %>
No things yet
<% end %>