<% if things.any? %>
<table>
  <thead>
  <tr>
    <th style="width: 20%;">Name</th>
    <th>Given</th>
    <th>Description</th>
    <th>By</th>
  </tr>
  </thead>

  <tbody>
  <% things.each do |thing| %>
      <tr>
        <td><%= thing_link thing %></td>
        <td><%= thing.is_given? %></td>
        <td><%= thing.description %></td>
        <td><%= user_link thing.user %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% else %>
No things yet
<% end %>