html{
    font-family: 'Open Sans',sans-serif;

}

.breadcrumbs  {
    font-size: 12px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;

}

body {
    font-size: 14px;

}

.login-register {
    margin: 10px 250px 0 0;
    font-size: 12px;
}

.text-news {
    font-size: 12px;
}

.contact-form-buttons{
    float: right;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;

}

.sign-in-form {
    font-size: 12px;
}

.text-19  {
    font-size: 19px;
}

.orderby {
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
}

.thing-text{
    font-size: 12px;
}

.thing-text-comment{
    font-size: 12px;
    color: rgb(113, 148, 0);
}

.text-want  {
    font-size: 15px;
}

.texarea-conversation{
    height: auto;
}

.text-green {
     color: rgb(113, 148, 0);
 }

.text-header {
    color: #292929;
    margin-top: 0px;
    margin-right: 5px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 18px;
}

.text-autor {
    font-size: 12px;
    color: rgb(113, 148, 0);
}

.float-right{
    float: right;

}

.text-data {
    color: rgb(169, 169, 169);
    font-size: 12px;
}

.form-tags {

    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0px;
}
